/*
  Define your resets here or use something like Normalize.css if you like
 */

html,
body{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Ubuntu', sans-serif;
  /* font-weight: 300; */
  font-size: 1rem;
  line-height: 1.8;
  color: #ffffff;
  background: #262626;
}
body, a {
  color: #ffffff;
}
@media screen and (min-width: 500px) {
  body {
    font-size: 120%;
  }
}

pre, code {
  font-size: 1rem;
}
pre[class*="language-"] {
  padding: 0;
  background: #000000;
}
pre {
  margin-bottom: 1rem !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu Condensed', sans-serif;
}
h1, h2, h3, h4, h5, h6, blockquote {
  margin: 0 0 1rem 0;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}
