.rss__sitetitle {
  display: none;
}


@media screen and (min-width: 900px) {
  .container,
  .container--homepage {
    grid-template-columns: 1fr 70vw 1fr;
    display: grid;
    grid-column-gap: 4rem;
    min-height: 100vh;
  }
    .container {
    grid-template-areas:
      "rssHeader rssHeader rssHeader"
      ". postSingleContainer . "
      "rssReadmore rssReadmore rssReadmore"
      "rssFooter rssFooter rssFooter"
    ;
  }
  .container--homepage {
    grid-template-areas:
      "rssHeader rssHeader rssHeader"
      "rssIntro rssIntro rssIntro"
      "rssPostList rssPostList rssPostList"
      "rssFooter rssFooter rssFooter"
    ;
  }
}
