.rss__intro {
  grid-column: 2;
  font-size: 1.3rem;
  grid-area: rssIntro;
  font-family: "Delius Unicase", sans-serif;
  background: #fc6621;
  color: #fff;
}
.introduction {
  display: flex;
  flex-direction: column;
}
.intro__tagline {
  padding: 2rem;
  text-align: center;
}
.intro__tagline p {
  margin: 0;
}
.intro__photo {
  text-align: center;
  padding-top: 2rem;
}
.intro__photo img.large-loaded {
  max-width: 200px;
}
@media screen and (min-width: 600px) {
  .intro__tagline {
    font-size: 110%;
  }
}
@media screen and (min-width: 900px) {
  .intro__tagline {
    text-align: left;
    font-size: 125%;
  }
  .introduction {
    max-width: 70vw;
    margin: 0 auto;
    flex-direction: row;
  }
}
@media screen and (min-width: 1100px) {
  .intro__tagline {
    font-size: 150%;
  }
}
