.rss__intro {
  grid-column: 2;
  padding: 2rem;
  font-size: 1.3rem;
  grid-area: rssIntro;
  font-family: "Delius Unicase", sans-serif;
  background: #fc6621;
  color: #fff;
}
.introduction {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .introduction {
    max-width: 70vw;
    margin: 0 auto;
  }
}
