.rss__nav {
  height: 0;
  overflow: hidden;
  transition: ease-in-out height 1s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100vw;
  font-size: 1.5rem;
  top: 60px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}
.nav--active {
  height: calc(100vh - 60px);
}
.nav__list {
  margin: 0;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  display: flex;
}
.nav__item {
  padding: 0;
  font-family: 'Abhaya Libre', serif;
  font-weight: 100;
}
@media screen and (min-width: 70em) {
  .nav__item {
    font-size: 4rem;
  }
  .nav__list {
    padding: 0 80px;
  }
}
.nav__item a {
  color: var(--white)
}

.nav__button {
  background: none;
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);
  display: block;
  padding: 0;
  outline: 0;
  &:focus {
    border-color: var(--orange);
  }
}
.color__switch {
  background: none;
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);
  display: block;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  &:focus {
    border-color: var(--orange);
  }
}
.nav__icon-wrapper {
  display: block;
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);

  svg {
    width: var(--nav-icon-size);
    height: var(--nav-icon-size);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: transparent;
  background-image: url('../images/moon-icon.svg');
  background-size: 300%;
  background-position: center;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-image: url('../images/moon-icon--white.svg');
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
