.rss__nav {
  display: none;
}
.nav__button {
  background: none;
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);
  display: block;
  padding: 0;
  outline: 0;
  &:focus {
    border-color: var(--orange);
  }
}
.nav__icon-wrapper {
  display: block;
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);

  svg {
    width: var(--nav-icon-size);
    height: var(--nav-icon-size);
  }
}
