.rss__sidebar {
  grid-column: 4;
}
.post__sidebar-content {
  background: color(#333333 lightness(50%));
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 0.9rem;
  padding: 2rem;
}
@media screen and (max-width: 800px) {
  .rss__sidebar {
    grid-column: 1/3;
  }
}
