.rss__sidebar {
  grid-column: 4;
}
.post__sidebar-content {
  background: color(#cccccc alpha(-20%));
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 0.9rem;
  padding: 2rem;
}
.post__sidebar {
  grid-column: 1/2;
}
@media screen and (max-width: 800px) {
  .post__sidebar,
  .rss__sidebar {
    grid-column: 1/4;
  }
}
