		<footer class="rss__footer">
			<section class="categories__list">
				<h3>Categories</h3>
				{{ partial "categories.html" . }}
			</section>
			<section class="footer__copyright">
				<div class="footer__right">
					&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
				</div>
				<div class="footer__updated">
					Last updated on <strong>{{ .Site.LastChange.Format "02.01.2006" }}</strong>
				</div>
			</section>
		</footer>
	</div>

	<script async>
		(function(H){
			console.log('H: ', H);
			H.className=H.className.replace(/\bno-js\b/,'true-js')})
		(document.querySelector('body'))
	 </script>
	{{if .IsHome}}
		<script async src="{{ .Site.BaseURL }}app.js"></script>
	{{else}}
		<script async src="{{ .Site.BaseURL }}app.js"></script>
		<script async src="{{ .Site.BaseURL }}singlePost.js"></script>
	{{end}}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37807942-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-37807942-1');
	</script>

	<script>
	// https://github.com/filamentgroup/loadCSS
	!function(e){"use strict"
	var n=function(n,t,o){function i(e){return f.body?e():void setTimeout(function(){i(e)})}var d,r,a,l,f=e.document,s=f.createElement("link"),u=o||"all"
	return t?d=t:(r=(f.body||f.getElementsByTagName("head")[0]).childNodes,d=r[r.length-1]),a=f.styleSheets,s.rel="stylesheet",s.href=n,s.media="only x",i(function(){d.parentNode.insertBefore(s,t?d:d.nextSibling)}),l=function(e){for(var n=s.href,t=a.length;t--;)if(a[t].href===n)return e()
	setTimeout(function(){l(e)})},s.addEventListener&&s.addEventListener("load",function(){this.media=u}),s.onloadcssdefined=l,l(function(){s.media!==u&&(s.media=u)}),s}
	"undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this)
	</script>
	<script>
	loadCSS("{{ .Site.BaseURL }}css/main.css");
	</script>



</body>
</html>