	<article class="post__item">
		<header class="post__header">
			<h2 class="post__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
		</header>
		<div class="post__image">
			{{if .Params.featured_image}}
				<span data-src="{{ .Params.featured_image }}" data-alt="Image {{ .Title }}"
				class="justlazy"></span>
			{{else}}
				{{ range .Params.categories }}
				<!-- <a href="{{ " /categories/ " | relLangURL }}{{ . | urlize }}">{{ . }}</a> -->
				<span data-src="/images/{{ . | urlize }}.jpg" data-alt="Image {{ . }}"
				class="justlazy"></span>
				{{ end }}
			{{end}}
		</div>

		<section class="post__info">
			<div class="post__date">
				<time class="post__time black--light">{{ .Date.Format "02.01.2006 15:04" }}</time>
			</div>
			<p class="post__tags">
				<strong>Tags: </strong>
				{{ range .Params.categories }}
				<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
			</p>
		</section>
		<section class="post__summary">
			{{ .Summary }}
			{{ if .Truncated }}
			{{ end }}
		</section>
		<footer class="post__footer">
			<a class="post__readmore" href="{{ .Permalink }}">Read more</a>
		</footer>
	</article>