.post-single__content {
  margin: 0 auto;
  max-width: calc(var(--max-single-content-width) - 4rem);
  padding: 3rem 2rem 0;
}


.content {
  h1 {
    font-weight: 900;
  }
  p,
  ol,
  ul {
    margin: 0 0 1rem 0;
  }
}
