:root {
    --toc-button-height: 40px;
}

.post-single__tableofcontents {
  background: var(--darkgrey);
  margin-bottom: 2rem;
}
.toc__nav {
  display: flex;
  position: relative;
}
.toc__button {
    position: absolute;
    right: 0;
    width: 50px;
    height: var(--toc-button-height);
    padding: 0;
    overflow: hidden;
    &:focus {
        outline: 0;
        box-shadow: 0 0 5px red;
    }
}
.toc__button .nav__icon {
    max-height: 100%;
    width: auto;
}

.toc__wrapper {
  height: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  color: var(--white);
}
.toc__nav em,
.toc__wrapper,
.toc__wrapper a {
  color: #f1f1f1;
}
.toc--show {
  height: auto;
}
.toc__nav,
.toc__nav em {
  height: var(--toc-button-height);
  line-height: var(--toc-button-height);
}
.toc__nav em,
.table-of-contents {
  font-size: 90%;
}
.toc__nav em {
    padding-left: 1em;
}
.table-of-contents {
  padding: 1rem;
}
.toc__list--h1 {
    padding-left: 0;
}
