{{ partial "header.html" . }}
<div class="post-single__container">
	<main class="rss__postcontent">
		<article class="post__content-grid">
			<header class="post-single__header">
				<h1 class="post-single__title">{{ .Title }}</h1>
				<div class="post-single__author	">

				</div>
			</header>
			<section class="post__content post-single__content">

				<main class="content">
					{{ .Content }}
				</main>
			</section>
		</article>
	</main>
</div>
{{ partial "readmore.html" . }} {{ partial "footer.html" . }}