{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error", "info"]
      }
    ],
    "indent": ["warn", "tab"],
    "no-tabs": 0
  },
  "plugins": [ "import" ]
}
