{
  "extends": "airbnb-base",
  "env": {
    browser: true
  },
  "parser": "babel-eslint",
  "plugins": [ "import" ],
  "globals": {
    "__dirname": true,
    "require": true,
    "process": true,
    "ENV": true,
    "module": true
  }
}