.rss__postslist {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}
.post__item {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.post__list {
  grid-column: 1/4;
}
.rss__pagination {
  margin-top: 2rem;
  background: #333;
  color: #fff;
  display: flex;
  text-align: center;
  padding: 1rem;
  justify-content: center;
}
.rss__pagination a {
  display: inline-block;
  margin: 0 0.5rem;
  color: #fff;
}
.post__header {
  /* height: 200px; */
  padding: 1rem;
  margin-top: 1rem;
}
.post__title {
  font-size: 2rem;
  font-weight: 900;
}
.post-single__title,
.post__title,
.post__title a {
  color: #000000;
}
.post__summary {
  margin-bottom: 1rem;
}
.post__readmore {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem;
  background: color(#333333 alpha(-40%));
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.post__readmore:hover {
  background: #fc6621;
}
@media screen and (max-width: 1300px) {
  .post__header {
    /* min-height: 200px; */
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .rss__postslist,
  .homepage .rss__postslist,
  .post__list {
    grid-column: 1/4;
  }
  .rss__postslist {
    grid-template-columns: repeat(1, 1fr);
  }
}
