.post__item {
  /* background: #fff; */
  display: flex;
  flex-direction: column;
  align-content: stretch;
  padding-top: 2rem;
  border-top: 1px solid #333;
}
.post__item:first-child {
  border-top: 0;
}
.post__info,
.post__summary,
.post__footer {
  padding: 0 2rem;
}
.post__image {
  min-height: 300px;
  overflow: hidden;
  /* background: #333; */
}
.post__image img.large-loaded {
  width: 100%; height: 300px;
  object-fit: contain;
  display: block
}

@media screen and (min-width: 600px) {
  .post__image {
    max-height: 350px;
  }
  .post__image img.large-loaded {
    height: 350px;
  }
}
@media screen and (min-width: 900px) {
  .post__image {
    max-height: 450px;
  }
  .post__image img.large-loaded {
    height: 450px;
  }
}
.post__footer {
  margin-bottom: 2rem;
}
.post__header {
  padding: 0 2rem;
  margin-top: 1rem;
}
.post__title {
  font-size: 2rem;
  font-weight: 900;
}
.post__summary {
  margin-bottom: 1rem;
}
