{{ partial "header.html" . }}
<div class="post-single__container">
	<main class="rss__postcontent">
		<article class="post__content-grid">
			<header class="post-single__header">
				<h1 class="post-single__title">{{ .Title }}</h1>
				<nav class="categories__nav">
					{{ range .Params.categories }}
						<a class="categories__link button" href="{{"/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
				</nav>
				</header>
			<section class="post__content post-single__content">
				<div class="post-single__image">
					{{if .Params.featured_image}}
						<span data-src="{{ .Params.featured_image }}" data-alt="Image {{ .Title }}"
						class="justlazy"></span>
					{{else}}
						{{ range .Params.categories }}
						<!-- <a href="{{ " /categories/ " | relLangURL }}{{ . | urlize }}">{{ . }}</a> -->
							<span data-src="/images/{{ . | urlize }}.jpg" data-alt="Image {{ . }}"
							class="justlazy"></span>
						{{ end }}
					{{end}}
				</div>
				<div class="post-single__author	">
					Written by Raymon on <time class="post__time">{{ .Date.Format "02.01.2006 15:04" }}</time>
					It will take
					<strong>~{{ .ReadingTime }} minutes</strong> to read.
				</div>
				<div class="content">
					{{ .Content }}
				</div>
			</section>
			<footer class="post__comments post-single__comments">
				{{ partial "disqus.html" . }}
			</footer>
		</article>
	</main>
</div>
{{ partial "readmore.html" . }} {{ partial "footer.html" . }}