/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
/* @import "prismjs/themes/prism.css"; */
@import "prismjs/themes/prism-okaidia.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700|Rubik:500,900');


/*
  Or add your statements here:
 */
body{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  line-height: 1.6;
  background: #f1f1f1;
}
body, a {
  color: #000000;
}
pre, code {
  font-size: 1rem;
}
pre[class*="language-"] {
  padding: 0;
}
pre {
  margin-bottom: 1rem !important;
}
h1, h2, h3, h4, h5, h6, blockquote {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}
.post__content {
  h1 {
    font-weight: 900;
  }
  p, ol, ul {
    margin: 0 0 1rem 0;
  }
}
.rss__sitetitle {
  font-size: 3rem;
}

.container  {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  grid-column-gap: 4rem;
}
.post__content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4rem;
}
.readmore__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4rem;
}
.rss__readmore {
  background: #333;
  padding: 2rem;
}
.rss__readmore,
.rss__readmore a {
  color: #fff;
}
.post__sidebar {
  grid-column: 1/2;
}
.post-single__content,
.post__comments {
  grid-column: 2/5;
}
.post-single__content p:first-of-type {
  font-weight: 500;
  font-size: 120%;
}
.rss__header {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
.rss__intro {
  font-size: 3.5rem;
}
.rss__header {
  grid-column: 1/6;
}
.rss__footer,
.post-single__header,
.rss__postcontent,
.rss__readmore {
  grid-column: 1/6;
}
.rss__footer {
  padding: 0 2rem;
}
.post-single__container {
  grid-column: 1/5;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.rss__sidebar {
  grid-column: 4/6;
}
.rss__nav {
  background: #333;
}
.rss__nav ul {
  margin: 0;
  display: flex;
  justify-content: center;
}
.rss__nav a {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  margin-right: .5rem;
}
.rss__nav a:hover {
  background: #cccccc;
}
.rss__intro {
  grid-column: 1/6;
  padding: 0 2rem;
}
.rss__postslist {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}
.post__item {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.post__list {
  grid-column: 1/4;
}
.rss__pagination {
  margin-top: 2rem;
  background: #333;
  color: #fff;
  display: flex;
  text-align: center;
  padding: 1rem;
  justify-content: center
}
.rss__pagination a {
  display: inline-block;
  margin: 0 .5rem;
  color: #fff;
}
.post__header {
  height: 200px;
  padding: 1rem;
  margin-top: 1rem;
}
.post__title {
  font-size: 2rem;
  font-weight: 900;
}
.post__title,
.post__title a {
  color: #fc6621;
}
.post-single__header {
  font-size: 2rem;
}
.post__content {
  padding-top: 1rem;
}
.post__content,
.post__summary,
.post__tags,
.post__date {
  font-weight: 300;
}
.post__summary {
  margin-bottom: 2rem
}
.post__header,
.post__summary,
.post__info {
  padding: 0 2rem;
}
.post__title a {
  text-decoration: none;
}
.post__time {
  font-style: italic;
  font-size: .9rem;
}
.black--light {
  color: color(#cccccc alpha(+40%));
}
.post__sidebar-content {
  background: color(#cccccc alpha(-20%));
  margin-bottom: 1rem;
  font-style: italic;
  font-size: .9rem;
  padding: 2rem;
}
.post__summary {
  margin-bottom: 1rem;
}
.post__readmore {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: .5rem;
  background: color(#333333 alpha(-40%));
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: .3s ease-in-out;
}
.post__readmore:hover {
  background: #fc6621;
}
@media screen and (max-width: 1300px) {
  .readmore__grid,
  .rss__postslist {
    grid-template-columns: repeat(2, 1fr);
  }
  .post__header {
    min-height: 200px;
    height: auto;
  }
  .post__content-grid {
    grid-column-gap: 2rem;
  }
  .post-single__container {
    grid-column: 1/6;
  }
}
@media screen and (max-width: 800px) {
  .readmore__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .readmore__article {
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem;
  }
  .readmore__article:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .rss__nav ul {
    flex-direction: column;
  }
  .rss__nav li {
    border-bottom: 1px solid #fff;
  }
  .rss__nav li:last-child {
    border-bottom: 0;
  }
  .rss__nav a {
    margin-right: 0;
    display: block
  }
  .container {
    padding: 0 1rem;
  }
  .post__sidebar,
  .post-single__content,
  .post__comments,
  .rss__postslist,
  .homepage .rss__postslist,
  .post__list,
  .rss__sidebar,
  .rss__footer{
    grid-column: 1/6;
  }
  .post__header {
    min-height: 1px;
  }
  .rss__postslist {
    grid-template-columns: repeat(1, 1fr);
  }
  .post-single__content {
    grid-row: 1;
  }
  .rss__sitetitle {
    font-size: 2rem;
  }
  .rss__header {
    padding: 1rem 0;
  }
  .post-single__header {
    font-size: 1rem;
  }
  .post-single__container {
    padding-left: 0;
  }

}
@media screen and (max-width: 500px) {
  body {
    font-size: 1.1rem;
  }
}